.lead__subtitle {
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Inter';
    text-align: center;
    color: #FFFFFF;
    max-width: 640px;
    padding-top: 32px;
    padding-bottom: 64px;
    margin: auto;
}