/*.place {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; 
    margin-bottom: 80px;
    /* max-width: 984px; 
    max-width: 100%;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
      width: calc(100% - 48px * 2);
    }
  }
*/

.place {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 984px;
    margin-bottom: 80px;
}