
.place__paragraph-all {
  max-width: 484px;
  margin-top: 48px;
  margin-left: 40px;
}

@media (max-width: 1024px) { 
  .place__paragraph-all {
    max-width: 456px;
	  margin: 48px 28px 0 32px;
  } 
}

@media (min-width: 768px) and (max-width: 1023px) { 
  .place__paragraph-all {
    max-width: 340px;
	  margin: 32px 24px 0 24px;
  } 
}

@media (max-width: 375px) { 
  .place__paragraph-all {
    max-width: 352px;
	  margin: 32px 16px 0 16px;
  } 
}